<h1>Welcome !!!</h1>

<div class="play-container">
    <div>
        <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times</p>
        <button class="btn btn-danger mb-2" (click)="clickMe()">Change data</button>
        <button class="btn btn-danger mb-2 ml-2" (click)="loadAPI()">Load API Get by ID</button>
    </div>

    <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <ng-select class="w-50" [items]="ages" [selectOnTab]="true" [searchable]="false" bindValue="id"
                [clearable]="false" bindLabel="name" placeholder="Select age" formControlName="transType"
                (clear)="onClear()">
            </ng-select>
        </div>
        <div class="form-group">
            <ng-select class="w-50" [items]="ageData" [selectOnTab]="true" bindValue="id" bindLabel="name"
                [closeOnSelect]="false" [multiple]="true" formControlName="processCodes">
                <ng-template ng-header-tmp>
                    <input type="checkbox" id="checkAll" [disabled]="ageData.length == 0" [checked]="isChecked"
                        (change)="onCheckedAll($event)"> <label for="checkAll">Tất cả</label>
                </ng-template>
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:3">
                        <span class="ng-value-label">{{item.name}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 3">
                        <span class="ng-value-label">+ {{items.length - 3}}</span>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                        [ngModelOptions]="{standalone: true}" /> {{item.name}}
                </ng-template>
            </ng-select>
        </div>
        <div class="form-group">
            <ng-select class="w-50" [items]="productData" [selectOnTab]="true" bindValue="id" bindLabel="name"
                [closeOnSelect]="false" [multiple]="true" formControlName="serviceCodes" (clear)="onClearProduct()">
                <ng-template ng-header-tmp>
                    <input type="checkbox" id="checkAllPro" [disabled]="productData.length == 0"
                        [checked]="isCheckedProduct" (change)="onCheckedAllPro($event)"> <label for="checkAllPro">Tất
                        cả</label>
                </ng-template>
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:3">
                        <span class="ng-value-label">{{item.name}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 3">
                        <span class="ng-value-label">+ {{items.length - 3}}</span>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                        [ngModelOptions]="{standalone: true}" /> {{item.name}}
                </ng-template>
            </ng-select>
        </div>
        <div class="form-group">
            <ng-select class="w-50" [items]="timeCodeData" [selectOnTab]="true" [searchable]="false" bindValue="id"
                [clearable]="false" bindLabel="name" formControlName="timeCode"
                (clear)="onClear()">
            </ng-select>
        </div>

         <br>

        <div class="form-group">
            <input type="text" class="form-control w-50" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control w-50" formControlName="name2"
                [ngClass]="{ 'is-invalid': (submitted && f.name2.errors) || (f.name2.touched && f.name2.errors) }">
            <div *ngIf="(submitted && f.name2.errors) || (f.name2.touched && f.name2.errors)" class="invalid-feedback">
                <div *ngIf="f.name2.errors.required">Name 2 is required</div>
                <div *ngIf="f.name2.errors.mustMatch">Name 2 is must match than Name</div>
            </div>
        </div>
        <div formGroupName="group">
            <div class="form-group">
                <input type="text" class="form-control w-50" formControlName="item1"
                    [ngClass]="{ 'is-invalid': submitted && f.group.controls.item1.errors }">
                <div *ngIf="submitted && f.group.controls.item1.errors" class="invalid-feedback">
                    <div *ngIf="f.group.controls.item1.errors.required">Item 1 is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control w-50" formControlName="item2"
                    [ngClass]="{ 'is-invalid': submitted && fg.item2.errors }">
                <div *ngIf="submitted && fg.item2.errors" class="invalid-feedback">
                    <div *ngIf="fg.item2.errors.required">Item 1 is required</div>
                </div>
            </div>
        </div>

        <br>

        <div class="form-group">
            <input type="date" class="form-control w-50" formControlName="fromDate"
                [ngClass]="{ 'is-invalid': (submitted || f.fromDate.touched) && f.fromDate.errors }">
            <div *ngIf="(submitted || f.fromDate.touched) && f.fromDate.errors"
                class="invalid-feedback">
                <div *ngIf="f.fromDate.errors.required">From Date is required</div>
                <div *ngIf="f.fromDate.errors.compareDate">From Date is must less than To Date</div>
            </div>
        </div>
        <div class="form-group">
            <input type="date" class="form-control w-50" formControlName="toDate"
                [ngClass]="{ 'is-invalid':(submitted || f.toDate.touched) && f.toDate.errors}">
            <div *ngIf="(submitted || f.toDate.touched) && f.toDate.errors"
                class="invalid-feedback">
                <div *ngIf="f.toDate.errors.required">To Date is required</div>
                <div *ngIf="f.toDate.errors.compareDate">To Date is must great than From Date</div>
            </div>
        </div>

        <br>

        <div class="form-group">
            <input type="text" class="form-control w-50" formControlName="fromDate"
                onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
        </div>

        <button class="btn btn-primary">Submit</button>
        <pre>{{ heroForm.value | json }}</pre>

        <span>Name</span>
        <pre>{{ f.name.errors | json }}</pre>
        <span>Name2</span>
        <pre>{{ f.name2.errors | json }}</pre>
        <span>Group.Item1</span>
        <pre>{{ fg.item1.errors | json }}</pre>
        <span>Group.Item2</span>
        <pre>{{ fg.item2.errors | json }}</pre>
        <span>FromDate</span>
        <pre>{{ f.fromDate.errors | json }}</pre>
        <span>ToDate</span>
        <pre>{{ f.toDate.errors | json }}</pre>
    </form>
</div>

<div class="play-container">
    <p>
        <input type="text" class="text-input" [(ngModel)]="name">
        <br>
        <strong>Value: </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>
    <ng-template #none>
        <p>The click counter <strong>NOT GREATER</strong> than 4.</p>
    </ng-template>
</div>

<div class="play-container">
    <h3>My First Attribute Directive</h3>

    <h4>Pick a highlight color</h4>
    <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>
    <p [appHighLight]="color">Highlight me!</p>
</div>

<div class="play-container">
    <h3>My First Pipes</h3>

    <h4>Pick a currency unit</h4>
    <div>
        <input type="radio" name="units" (click)="currencyUnit='VND'" [(ngModel)]="currencyUnit" value="VND">VND
        <input type="radio" name="units" (click)="currencyUnit='USD'" [(ngModel)]="currencyUnit" value="USD">USD
        <input type="radio" name="units" (click)="currencyUnit='JPY'" [(ngModel)]="currencyUnit" value="JPY">JPY
    </div>
    <p>{{ price | currencyUnit: currencyUnit : 2 }}</p>
</div>

<div class="play-container">
    <h3 class="mb-4">NgRx - State Management</h3>

    <div class="row">
        <div class="col-6 pr-5" *ngIf="tutorials">
            <input type="text" placeholder="name" #name>
            <input type="text" placeholder="message" #url>

            <button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button>
        </div>
        <div class="col-6 pl-5">
            <h3>Tutorials</h3>
            <ul>
                <li *ngFor="let tutorial of tutorials | async; let i = index">
                    <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
                    <a class="del" (click)="delTutorial(i)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>