<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Angular</a>
        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/photos" routerLinkActive="active">Photos</a></li>
                <li><a routerLink="/breweries" routerLinkActive="active">Breweries</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>
